* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER  */
header {
  width: 100%;
  height: 350px; 
  background-image: url('header.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  color: #333;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;      
  padding: 20px 60px;       
  width: 100%;
  position: absolute;       
  top: 0;
  left: 0;
}

.logo {
  width: 60px;
  height: auto;
}

.menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu a {
  color: #555;
  margin-left:50px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.menu a:hover {
  color: #e15b00;
}

.menu a i {
  margin-right: 6px;
}

.social {
  display: flex;
  align-items: center;
  gap: 25px;
}

.social a {
  color: #555;
  text-decoration: none;
  font-size: 18px;
}

.social a:hover {
  color: #e15b00;
}

.text {
  position: absolute;
  bottom: 0;               
  width: 100%;
  text-align: center;
}

.text h2 {
  display: inline-block;       
  background-color: rgba(124, 123, 123, 0.2); 
  padding: 20px 40px;          
  color: #f09e67;
  height: 100px;
}

/* BODY  */
.body-container {
  background-color: white;
  display: flex;
  gap: 10px;
}

.body-main {
  background-color: #D8D7D7;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex: 3;
}

.body-item-1,.body-item-2,.body-item-3,.body-item-4 {
 background-color: white;
 color: black;
 flex: 1 1 calc(50% - 20px);
 margin: 10px;
 padding: 10px;
}
.body-item-5 {
  background-color: #D8D7D7;
  color: black;
  text-align: center;
  margin: 10px;
}
.text-1, .text-2, .text-3, .text-4 {
  column-count: 2;
  column-gap: 20px;
  line-height: 1.5;
}
.title-1, .title-2, .title-3, .title-4 {
  background-color: #F08080;
  color: white;
  padding: 5px;
}

/* LEER MAS  */
.read-more-input {
  display: none;
}

.read-more {
  display: none;
}

.read-more-input:checked ~ .text-1 .read-more {
  display: inline;
}

.read-more-input:checked ~ .text-2 .read-more {
  display: inline;
}

.read-more-input:checked ~ .text-3 .read-more {
  display: inline;
}

.read-more-input:checked ~ .text- .read-more {
  display: inline;
}

.read-more-label::before {
  content: "Leer más...";
  color: #999;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
}

.read-more-input:checked ~ .read-more-label::before {
  content: "Leer menos...";
  color: #e15b00;
}

/* Estilo al pasar el ratón */
.read-more-label:hover::before {
  text-decoration: underline;
}



/* SIDEBAR  */
.sidebar {
  background-color: #D8D7D7;
  margin-top: 10px;
  padding: 20px;
  flex: 1;
}

.title-sidebar{
  text-align: center;
}

.text-sidebar{
  text-align: center;
}

/* IMAGES */
.sakura, .comida, .fuji, .noche {
  height: 260px;
  width: 100%;
}

/* DATES INSIDE THE IMAGES  */
.date-1{
  position: relative;
  bottom:25px;
  left:5px;
  color: rgb(236, 217, 8);
}

.date-2{
  position: relative;
  bottom:25px;
  left:5px;
  color: rgb(236, 217, 8);
}
.date-3{
  position: relative;
  bottom:25px;
  left:5px;
  color: rgb(236, 217, 8);
}
.date-4{
  position: relative;
  bottom:25px;
  left:5px;
  color: rgb(236, 217, 8);
}


/* FOOTER  */
footer {
  background-color: #dbd9d9;
  color: black;
  text-align: center;
  padding: 15px ;
  margin-top: 10px;
}