/* HEADER */
.header {
  background-color: #000;
  color: black;
  padding: 20px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background: rgb(60, 60, 93);
  padding: 26px;
  gap: 10px; 
}

.Item-1, .Item-2, .Item-3 {
  background-color: #e77;
  padding: 5px;
  text-align: center; 
  margin: 0; 
}

.banner-box {
  background-color: #FF8B00;
  display: flex;              
  justify-content: center;    
  align-items: center;        
  padding: 20px;
  margin-top: 20px;
}

.banner {
  background-color: #FED700;
  color: black;
  text-align: center;
  font-size: 24px;
  padding: 20px;
  width: 96%;                 
}

/* BODY */
.body-container {
  background-color: black;
  margin-top: 20px;
  color: black;
  padding: 20px;
  display: flex;
  gap: 20px;
}

.body-main {
  background-color: #4E4E6A;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  flex: 3;
  gap: 10px; 
}

.body-item-1, .body-item-2, .body-item-3, .body-item-4 {
  background-color: #1F6CB0;
  color: black;
  flex: 1 1 calc(50% - 10px); 
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  margin: 0; 
}

.body-item-5 {
  background-color: #71A3C4;
  color: black;
  flex-basis: 100%;
  padding: 20px;
  text-align: center;
  margin: 0; 
}

.sidebar {
  background-color: #EA5455;
  padding: 20px;
  flex: 0.5;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aside-item-1, .aside-item-2 {
  background-color: #FFD705;
  color: black;
  padding: 20px;
  text-align: center;
}

/* FOOTER */
.footer {
  background-color: black;
  padding: 20px;
  margin-top: 20px;
}

.footer-item-1 {
  background-color: #F0E78C;
  color: black;
  text-align: center; 
  font-size: 24px;
  padding: 10px;
}


@media (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
  }

  .Item-1, .Item-2, .Item-3 {
    flex: 1;
    margin: 0;
    text-align: center;
    padding: 10px;
  }

  .body-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .body-main {
    gap: 10px;
  }

  .body-item-1, .body-item-2, .body-item-3, .body-item-4 {
    flex: 1 1 100%;
  }
}


@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
  }

  .Item-1, .Item-2, .Item-3 {
    margin: 0;
    text-align: center;
    padding: 10px;
  }

  .body-container, .body-main {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }

  .body-item-1, .body-item-2, .body-item-3, .body-item-4 {
    flex: 1 1 100%; 
  }
}